{% extends "/app/base.html" %}

{% block css_scripts %}
    <link href="{{ url_for('static', filename='app/css/index.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<!-- T'chat zone with grandpy-->
{% block content %}
    <div class="container-fluid" id="chat-box-container">
        <div class="row justify-content-center" id="chat-box">

            <!-- Grandpy messages-->
            <div class="col-5 align-self-end order-last" id="grandpy-message">
                    <p class="message">{{hello_message}}</p>
            </div>

            <!-- User messages-->
            <div class="col-5 align-self-start order-first" id="user-message">
                <p class="message">Message utilisateur test</p>
            </div>
            
        </div>
    </div>

{% endblock %}



<!-- Zone where users type their questions to grandpy-->
{% block footer %}
<div class="container" id="question-container">
    <footer>
        <div id="row d-flex justify-content-center">
            <form class="col" id="question-form">
                <input type="text" id="question-input" value="Une question pour papy?">
                <button type="submit" class="btn btn-primary" id="button-submit">Questionner papy</button>
            </form>

            </div>
        </div>
    </footer>
</div>

{% endblock %}