{% extends "/app/base.html" %}

{% block css_scripts %}
    <link href="{{ url_for('static', filename='app/css/index.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='app/css/leaflet.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

<!-- T'chat zone with grandpy-->
{% block content %}
    <section id="chat-box">
        <section class="message grandpy-message">
            <p>{{hello_message}}</p>        
        </section>
            
        <section class="message user-message">
            <p>Bonjour Papy!</p>
        </section>
    </section>


    <form id="question-form" method="POST">
        <input type="text" id="question-input" placeholder="Une question pour papy?">
        <button type="submit" id="button-submit">Questionner papy</button>
    </form>

{% endblock %}

{% block javascript_scripts %}
<script src="{{ url_for('static', filename='app/js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='app/js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='app/js/index.js') }}"></script>
{% endblock %}

