/*Button that submits the question to grandpy */
#button-submit{
    background-color : #5680E9;
    border : None;
    color : white;
    height : 50px;
    margin-left : 10px;
    margin-top : 0px;
    opacity : 0.9;
    padding : 7px;
    width : 13.8%;
}

#button-submit:hover{
    opacity : 1;
}

/*Contains the text input and the send button */
#question-container{
    height : 100%;
    margin-left : 0px;
    padding : 0px;
    width : 100%;
}

#question-form{
    margin-left: 0px;
    height : 100%;
    width : 100%;
}

/*Text input where user asks questions to grandpy */
#question-input{
    height : 50px;
    margin-bottom : 10px;
    margin-top : 15px;
    padding : 10px;
    width : 85%;
}

/* *********************** */
/*   T'chat zone design    */
/* *********************** */

/* Bubble containing the grandpy message */
.grandpy-message{
    background-color : #5680E9;
    border-radius : 5px 0px 5px 0px;
    color : white;
    margin-left : 15px;
    margin-right : 50px;
    margin-top : 2%;
    height : auto;
}

/* Bubble containing the user message */
.user-message{
    background-color : #8860D0;
    border-radius : 0px 5px 0px 5px;
    color : white;
    font-weight : 600;
    margin-left : 50px;
    margin-right : 5px;
    margin-top : 1%;
    height : auto;
    opacity: 0.8;
}

/* Balise <p> of the messages */
.message{
    margin-bottom : 5px;
    margin-top : 5px;
    opacity : 1;
}

#chat-box-container{
    overflow-y : scroll;
    scrollbar-width: thin;
    width : auto;
}

#map{
    height : 200px;
    margin : 2%;
    width : 95%;
}
