/*Button that submits the question to grandpy */
#button-submit{
    background-color : #AC3B61;
    color : white;
    height : 50%;
    margin-left : 30px;
    padding : 5px;
}

/*Contains the text input and the send button */
#question-container{
    background-color : #EDC7b7;
    height : 100%;
}

/*Text input where user asks questions to grandpy */
#question-input{
    margin-top : 10px;
    height : 80%;
}

/* *********************** */
/*   T'chat zone design    */
/* *********************** */
#grandpy-message{
    background-color : #BAB2B5;
    border-radius : 5px solid black;
    color : white;
    margin-bottom : 20px;
    margin-left : 15px;
    margin-right : 15px;
    margin-top : 20px;
    height : auto;
}

#user-message{
    background-color : #AC3B51;
    border-radius : 5px solid black;
    color : white;
    margin-bottom : 20px;
    margin-left : 5px;
    margin-right : 5px;
    margin-top : 20px;
    height : auto;
}