/*Button that submits the question to grandpy */
#button-submit{
    background-color : #AC3B61;
    color : white;
    height : 50%;
    margin-left : 30px;
    padding : 5px;
}

/*Contains the text input and the send button */
#question-container{
    background-color : #EDC7b7;
    height : 100%;
}

/*Text input where user asks questions to grandpy */
#question-input{
    margin-top : 10px;
    height : 80%;
}

/* *********************** */
/*   T'chat zone design    */
/* *********************** */

/* Bubble containing the grandpy message */
#grandpy-message{
    background-color : #BAB2B5;
    border-radius : 5px 0px 5px 0px;
    color : white;
    margin-bottom : 20px;
    margin-left : 15px;
    margin-right : 15px;
    margin-top : 20px;
    height : auto;
}

/* Bubble containing the user message */
#user-message{
    background-color : #AC3B61;
    border-radius : 0px 5px 0px 5px;
    opacity: 0.8;
    color : white;
    margin-bottom : 20px;
    margin-left : 5px;
    margin-right : 5px;
    margin-top : 20px;
    height : auto;
}

/* Balise <p> of the messages */
.message{
    margin-bottom : 5px;
    margin-top : 5px;
    opacity : 1;
}

#chat-box-container{
    background-color : #EEE2DC;
    height : 100%;
    width : auto;
}